/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* color variables */
:root {
    --red-color: red;
    --light-red-color: tomato;
    --orange-color: #ff7e00;
    --light-orange-color: orange;
    --text-color: #1a2428;
    --bg-color: white;
}

section {
    padding: 4.5rem 0 1.5rem;
}

img {
    width: 100%;
}

img.logo {
    width: 50px;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

/* Profile styling */

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%
}

.profle span {
    font-size: 13px;
    font-weight: 500;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
     padding: 0.5rem 1rem;
}

.navbar a:hover, .navbar .home-active {
    background: var(--orange-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#container {
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#container img {
    width: 400px;
    position: absolute;
    bottom: 50px;
    right: 200px;
}

.home-text {
    padding: 0 150px;
}

.home-text span {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}

.home-text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--orange-color);
}

/* Login & Signup button  */
.login-btn {
    border: none;
    padding: 0.6rem 1rem;
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    max-width: 200px;
    margin-right: 5px;
}

.login-btn:hover {
    background: var(--light-orange-color);
    transition: 0.3s ease;
}

.signup-btn {
    border: none;
    padding: 0.6rem 1rem;
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    max-width: 200px;
}

.signup-btn:hover {
    background: var(--light-orange-color);
    transition: 0.3s ease;
}


/* Get Started Now! button styling */
.btn {
    padding: 0.6rem 1rem;
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 200px;
}

.btn .bx {
    padding: 2px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: var(--light-orange-color);
    transition: 0.3s ease;
}

/* Swiper button styling */
.swiper-button-next {
    /* background: url(); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}

/* .swiper-button-next::after {
    display: none;
} */

.swiper-button-prev {
    /* background: url(); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 20px;
}

/* .swiper-button-prev::after {
    display: none;
} */


/* -----------------------CSS FOR REQUEST PAGE-------------------------------------- */

.request{
    display: grid;
    place-items: center;
}
.request-form{
    display: flex;
    flex-direction: column;
    width: clamp(300px, 50%, 550px);
    height: fit-content;
    padding: clamp(10px, 5%, 20px);
    background-color: var(--light-orange-color);
    border: none;   
    border-radius: 5px;
}
.request-form input[type="text"],
.request-form input[type="date"],
.request-form input[type="submit"],
.request-form input[type="time"] {
    border-radius: 5px;
    border: 1px solid #00000066;
    height: 35px;
}

.request-form input[type="submit"]{
    background-color: rgb(255, 255, 255);
}

.request-form input[type="submit"]:hover{
    background-color: rgb(255, 239, 229);
}

.time_picker{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
}

.status{
    height: 30px ;
    padding: 0 10px;
    border-radius: 15px;
}

.approved{
    background-color: #99FF00;
}
.pending{
    background-color: #ffa200;
}
.declined{
    background-color: #ff5757;
}
.returned{
    background-color: #bababa;
}


/* ----------------EQUIPMENT PAGE------------------------ */

.equipment {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipment-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 300px;
}

.equipment-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f4f4f4;
}

.equipment-details {
    padding: 20px;
}

.equipment-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.equipment-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}


/* -----------SERVICES PAGE--------------------------------- */

.services {
    padding: 4.5rem 0;
}

.service-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.service-details {
    padding: 1.5rem;
}

.service-details h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.service-details p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.notif{
    width: clamp(600px, 50vw, 1000px);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    background-color: #DDDDDD66;
    padding: 10PX;
}
.notif_row{
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    height: 30px;
    align-items: center;
    padding: 0 10px;
    background-color: #aaaaaa1b;
}
.nr_date{
    margin-top:20px;
    height: 20px;
    font-size: 0.8rem;
}
.unread{
    background-color: #AAAAAA66;
}