.main {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px; 
    flex-wrap: wrap;
  }
  
  .main > section {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      margin: 0; 
    }
  }