.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"],
  .signup-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e9ecef;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
    background-color: tomato;
  }
  
  .signup-form p {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-form p a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 500px) {
    .signup-container {
      padding: 10px;
    }
  }
  