<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MH-SERP PROTOTYPE</title>
  <!-- link to css -->
  <link rel="stylesheet" href="/style.css">
  <!-- link to box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
    <!-- Navbar -->
    <header>
      <!-- Logo -->
      <a href="index.html" class="logo"><img class="logo" src="/img/logo.png" alt="logo">PSU Media Hub</a>
  
      <!-- Menu icon -->
      <div class="bx bx-menu" id="menu-icon"></div>
  
      <!-- Nav list -->
      <ul class="navbar">
        <li><a href="home.html">Home</a></li>
        <li><a href="request.html">Request</a></li>
        <li><a href="equipment.html" class="home-active">Equipment</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About Us</a></li>
      </ul>
  
      <!-- Profile (FOR DISPLAY ONLY) -->
      <div class="profile">
        <img src="/img/harry.jpg" alt="">
        <span>Harry Cabrera</span>
        <i class="bx bx-caret-down"></i>
      </div>
  
    </header>

    <section class="equipment">
      <div class="container">
          <div class="equipment-card">
              <img src="/img/mhpic1.png" alt="Equipment Image">
              <div class="equipment-details">
                  <h2>NIKKON XXX XX</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                  <button class="btn">Rent Now</button>
              </div>
          </div>
          
          <div class="equipment-card">
            <img src="/img/mhpic1.png" alt="Equipment Image">
            <div class="equipment-details">
                <h2>CANON M5 mkII</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                <button class="btn">Rent Now</button>
            </div>
          </div>

          <div class="equipment-card">
            <img src="/img/mhpic1.png" alt="Equipment Image">
            <div class="equipment-details">
                <h2>CANON 50mm LENS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                <button class="btn">Rent Now</button>
            </div>
          </div>

          <div class="equipment-card">
            <img src="/img/mhpic1.png" alt="Equipment Image">
            <div class="equipment-details">
                <h2>CANON 50mm LENS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                <button class="btn">Rent Now</button>
            </div>
          </div>

          <div class="equipment-card">
            <img src="/img/mhpic1.png" alt="Equipment Image">
            <div class="equipment-details">
                <h2>CANON 50mm LENS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                <button class="btn">Rent Now</button>
            </div>
          </div>

          <div class="equipment-card">
            <img src="/img/mhpic1.png" alt="Equipment Image">
            <div class="equipment-details">
                <h2>CANON 50mm LENS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                <button class="btn">Rent Now</button>
            </div>
          </div>

          <div class="equipment-card">
            <img src="/img/mhpic1.png" alt="Equipment Image">
            <div class="equipment-details">
                <h2>CANON 50mm LENS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa in, fugit omnis eveniet cupiditate totam recusandae iste quos porro, ullam nihil, sequi illo natus sint. Voluptatibus hic officia odio.</p>
                <button class="btn">Rent Now</button>
            </div>
          </div>

      </div>
  </section>

  <!-- link to Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- link to javascript -->
  <script src="main.js"></script>

</body>
</html>