<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MH-SERP PROTOTYPE</title>
  <!-- link to css -->
  <link rel="stylesheet" href="/style.css">
  <!-- link to box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>

<body>
  <!-- Navbar -->
  <header>
    <!-- Logo -->
    <a href="index.html" class="logo"><img class="logo" src="/img/logo.png" alt="logo">PSU Media Hub</a>

    <!-- Menu icon -->
    <div class="bx bx-menu" id="menu-icon"></div>

    <!-- Nav list -->
    <ul class="navbar">
      <li><a href="#index.html" class="home-active">Home</a></li>
      <li><a href="#request.html">Request</a></li>
      <li><a href="#equipment.html">Equipment</a></li>
      <li><a href="#services.html">Services</a></li>
      <li><a href="#about.html">About Us</a></li>
    </ul>

    <!-- Profile (FOR DISPLAY ONLY) -->
    <div class="profile">
      <img src="/img/harry.jpg" alt="">
      <span>Harry Cabrera</span>
      <i class="bx bx-caret-down"></i>
    </div>

  </header>

  <!-- HOME -->
  <section class="home swiper" id="home">
    <div class="swiper-wrapper">

      <!-- Slide 1 -->
      <div class="swiper-slide" id="container">
        <div class="home-text">
          <h1>What's New?</h1>
          <span>Welcome to Media Hub's Services <br>and Equipment Request Platform</span>
          <a href="#" class="btn">Get Started Now!<i class='bx bx-right-arrow-alt'></i></a>
        </div>
        <img src="/img/mhpic1.png" alt="">
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide" id="container">
        <div class="home-text">
          <h1>What's Going On?</h1>
          <span>Welcome to Media Hub's Services <br> and Equipment Request Platform</span>
          <a href="#" class="btn">Get Started Now!<i class='bx bx-right-arrow-alt'></i></a>
        </div>
        <img src="/img/mhpic2.png" alt="">
      </div>

      <!-- Slide 3 -->
      <div class="swiper-slide" id="container">
        <div class="home-text">
          <h1>What's Going On?</h1>
          <span>Welcome to Media Hub's Services <br> and Equipment Request Platform</span>
          <a href="#" class="btn">Get Started Now!<i class='bx bx-right-arrow-alt'></i></a>
        </div>
        <img src="/img/mhpic3.png" alt="">
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </section>

  

  <!-- link to Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- link to javascript -->
  <script src="/main.js"></script>
</body>
</html>