<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MH-SERP PROTOTYPE</title>
  <!-- link to css -->
  <link rel="stylesheet" href="/style.css">
  <!-- link to box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
  <!-- Navbar -->
  <header>
    <!-- Logo -->
    <a href="index.html" class="logo"><img class="logo" src="/img/logo.png" alt="logo">PSU Media Hub</a>

    <!-- Menu icon -->
    <div class="bx bx-menu" id="menu-icon"></div>

    <!-- Nav list -->
    <ul class="navbar">
      <li><a href="home.html">Home</a></li>
      <li><a href="request.html">Request</a></li>
      <li><a href="equipment.html">Equipment</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="about.html">About Us</a></li>
    </ul>

    <!-- Profile (FOR DISPLAY ONLY) -->
    <div class="profile">
      <img src="/img/harry.jpg" alt="">
      <span>Harry Cabrera</span>
      <i class="bx bx-caret-down"></i>
    </div>

  </header>
  <br><br><br><br><br>
  <!-- REQUEST -->
  <section class="request" id="home">
    <br><br>
    <div class="notif">
        <h3 style="text-align: center;">Notifications</h3>

        <div class="nr_date">02-24-2024</div>
        <div class="notif_row unread">
            <p>Request Aproved</p>
            <p>ACS - General Assembly</p>
            <p>09:35 AM</p>
        </div>
        <div class="notif_row unread">
            <p>Request Declined</p>
            <p>CS-CSG - Binturungan</p>
            <p>09:03 AM</p>
        </div>
        <div class="notif_row">
            <p>Request Aproved</p>
            <p>ACS - Binturungan</p>
            <p>08:53 AM</p>
        </div>

        <div class="nr_date">02-22-2024</div>
        <div class="notif_row">
            <p>Request Aproved</p>
            <p>ACS - Binturungan</p>
            <p>09:35 AM</p>
        </div>
        <div class="notif_row unread">
            <p>Request Aproved</p>
            <p>ACS - Aquaintance Party</p>
            <p>09:35 AM</p>
        </div>
        <div class="notif_row">
            <p>Request Aproved</p>
            <p>ACS - ACS Day</p>   
            <p>09:35 AM</p>
        </div>

        <div class="nr_date">11-15-2023</div>
        <div class="notif_row">
            <p>Request Aproved</p>
            <p>CSD - NLP Training</p>
            <p>01:27 PM</p>
        </div>

        <div class="nr_date">10-03-2023</div>
        <div class="notif_row unread">
            <p>Request Aproved</p>
            <p>CS-CSG - Photoshoot</p>   
            <p>11:02 AM</p>
        </div>
        <div class="notif_row">
            <p>Request Declined</p>
            <p>CS-CSG - Mr. & Ms. CS Video</p>   
            <p>11:02 AM</p>
        </div>
    </div>

    <style>
        table{
            border-radius: 5px;
        }
        table, tr{
            border: 2px solid #88888844;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>

  </section>

  <!-- link to Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- link to javascript -->
  <script src="/main.js"></script>
</body>
</html>