/* Resetting margin and padding for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Prevents padding/border from affecting width */
}

/* Global Font and Colors */
:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;

  --red-color: red;
  --light-red-color: tomato;
  --orange-color: #ff7e00;
  --light-orange-color: orange;
  --text-color: #1a2428;
  --bg-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensuring no margin or padding around the body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  display: flex;
  width: 100vw; /* Full width of the viewport */
  min-height: 100vh;
  flex-direction: column; /* Stack body content vertically */
}

/* Allow content to overflow if necessary, but keep everything inside */
.page-container {
  width: 100%;
  overflow-x: hidden; /* Hide any horizontal overflow */
}

/* Max-width for elements to avoid overflowing */
.header, .footer, .content {
  max-width: 100%;
}

/* Global Reset for Links and Buttons */
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
